body {
  margin: 0;
  padding: 0;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, 'Lucida Grande', sans-serif;
   /*background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);*/
   background:  #36393e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
